@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Alunos</h1>
    <p class="lead">Todos os Alunos Matriculados</p>
</div>

<div class="row">
    <div class="col-md-4">
    
    </div>
       
</div>